<app-form-veiculo [veiculos]="veiculos"></app-form-veiculo>
<div class="col-md-6" *ngIf="!veiculos.length">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form [formGroup]="formConsulta" (submit)="consultar()">
                <div class="mb-3">
                    <label for="codFipe" class="form-label">Codigo Fipe</label>
                    <input formControlName="codFipe" type="text" class="form-control" id="codFipe">
                </div>
                <div class="mb-3">
                    <label for="ano" class="form-label">Ano</label>
                    <input formControlName="ano" type="text" class="form-control" id="ano">
                </div>
                <div class="col-md-12 mt-2" style="text-align: right;">
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2" style="text-align: right;">
    <a href="/" class="btn btn-primary" >Voltar</a>
</div>